<script src="https://code.iconify.design/1/1.0.5/iconify.min.js"></script>


<nav *ngIf="currentUser" class="navbar navbar-expand navbar-dark bg-dark">
  <!--<nav class="navbar navbar-expand navbar-dark bg-dark">-->
  <div class="navbar-nav">

    <div class="example-button-row">
      <button (click)="navigateToHome()" id="homeButton" mat-icon-button>
        Home
      </button>

      <button (click)="logout()" class="nav-item nav-link" id="logoutButton" mat-flat-button routerLink="/">
        Logout
      </button>
    </div>
  </div>


  <!-- main content container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
