<style>
  #loginButton {
    margin-left: -10px;
    margin-top: 1%;
    z-index: 2000;
    background-color: white;
    color: black;
    width: 10%
  }

  #buyTicketButton {
    position: relative;
    right: -30px;
    margin-top: 1%;
    z-index: 2000;
    background-color: white;
    color: black;
    width: 15%;
  }

  #registerButton {
    margin-left: 30px;
    margin-top: 1%;
    z-index: 2000;
    background-color: white;
    color: black;
    width: 11%
  }

  #loginButton:hover {
    background-color: lightgrey;
  }

  #buyTicketButton:hover {
    background-color: lightgrey;
  }

  #registerButton:hover {
    background-color: lightgrey;
  }

</style>




<div class="wrapper">
  <div class="bg1 ">
        <div class="title-brand">
          <div class="angular-logo">
            <div class="bg2"></div>
          </div>
          <h1 class="presentation-title">Conference Management System</h1>
          <button id="loginButton" mat-flat-button routerLink="/login">Login</button>
          <button id="registerButton" mat-flat-button (click)="goToAuthorRegister()">Register</button>
          <button id="buyTicketButton" mat-flat-button routerLink="/ticket">Buy Tickets</button>


        </div>





    <!--<h6 class=" category-absolute">Designed and coded by &copy; Wildcats</h6> -->
  </div>

</div>




