<div class="header">
  <button id="logoutButton"  (click)="logout()" mat-flat-button><mat-icon>logout</mat-icon></button>
  <h1 id = "title" >Author Homepage</h1>
</div>

<div style="display:flex; flex-direction: column; position:absolute; left:40%;bottom:25%; width:100%">
  <button mat-raised-button class="my_button_class" routerLink="/paper/upload">
    Upload a new paper <mat-icon>attach_file</mat-icon>
  </button>
  <button mat-raised-button class="my_button_class" routerLink="/paper/all" >
    My papers <mat-icon>file_copy</mat-icon>
  </button>
  <button class="my_button_class" color="warn" mat-raised-button routerLink="/reviews/{{authenticationService.getCurrentUser().id}}"
          >
    Reviews for my paper <mat-icon>rate_review</mat-icon>
  </button>
</div>
